#big_circ {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 80vw;
  min-width: 800px;
  background-color: #EBEBEB;
  position: absolute;
  left: 40vw;
  top: 15vh;
  z-index: -10;
  overflow: hidden;
}

.landing_row_1 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
  padding: 128px 0 72px 0;
}
.landing_row_1 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_1 .welcome_div {
  grid-column: 2/14;
}
.landing_row_1 #welcome {
  font-size: 50pt;
  margin-bottom: 1.5rem;
}
.landing_row_1 span {
  color: #FF7F0A;
}
.landing_row_1 .material-symbols-outlined {
  font-size: 40pt;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
}

.why10dots {
  text-align: center;
  justify-content: center;
  padding-top: 60pt;
  padding-bottom: 0pt;
  font-size: 32pt;
}

.landing_row_2 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
  padding: 0;
  background: radial-gradient(circle, #FF922E 70.7%, transparent 60%);
  background-size: 200px 200px;
  background-repeat: repeat-x;
  background-position: left center;
}
.landing_row_2 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_2 form {
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  grid-column: 2/14;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 50vw;
}
.landing_row_2 .Search_section {
  display: flex;
}
.landing_row_2 .country-city {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.landing_row_2 .country-city select {
  width: 100%;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  margin-bottom: 2em;
  width: 45%;
}
.landing_row_2 div label {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  align-self: first baseline;
  min-height: 2em;
  display: flex;
  align-items: center;
}
.landing_row_2 input {
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  padding-left: 1em;
  min-height: 2em;
  margin: 0 0 2em 0.5em;
}
.landing_row_2 input[type=submit] {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  justify-self: flex-end;
  margin-left: auto;
  width: 30%;
}
.landing_row_2 input[type=submit]:hover {
  background-color: #FF922E;
}

.landing_row_3 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
}
.landing_row_3 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_3 P {
  grid-column: 2/6;
  grid-row: 2;
  text-align: justify;
}
.landing_row_3 .helpout {
  grid-column: 8/14;
  grid-row: 2;
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.landing_row_3 .helpout button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.landing_row_3 .helpout button:hover {
  background-color: #FF922E;
}

.landing_row_4 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
  grid-column: 2/14;
  grid-template-columns: repeat(12, 1fr);
}
.landing_row_4 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_4 H3 {
  grid-column: 1/12;
}
.landing_row_4 .landing_category {
  grid-column: span 3;
  min-height: 300px;
  height: -moz-fit-content;
  height: fit-content;
}
.landing_row_4 .landing_category .cat_img {
  height: 220px;
  background-color: antiquewhite;
  box-shadow: 0 5px 3px #B8B6B6;
  border-radius: 0.5em 0.5em 0 0;
}
.landing_row_4 .landing_category .cat_info {
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0.5em 0.5em;
}
.landing_row_4 .landing_category .cat_info a {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_row_4 .landing_category .cat_info a:hover {
  background-color: #FF922E;
}

.landing_row_5 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
}
.landing_row_5 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_5 h3 {
  color: white;
  margin-bottom: 0;
}
.landing_row_5 .orange_steps {
  grid-row: 2;
  grid-column: 1/15;
  background-color: #FF7F0A;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: inherit;
}
.landing_row_5 .orange_steps .steps_div {
  grid-column: 2/14;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.landing_row_5 .orange_steps .steps_div .step {
  padding: 80px;
  color: white;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing_row_5 .orange_steps .steps_div .step h4 {
  white-space: nowrap;
  margin-top: 1em;
}
.landing_row_5 .orange_steps .steps_div .step .material-symbols-outlined {
  font-size: 28pt;
}
.landing_row_5 .orange_steps .steps_div .step p {
  margin: 2em 0;
}

.navbar {
  background-color: #F5F5F5;
  width: 100vw;
  color: black;
  padding: 0.5em 1em;
  align-items: center;
}
.navbar .logo {
  vertical-align: bottom;
  color: #FF7F0A;
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.navbar .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
  height: 100%;
}
.navbar button {
  padding: 0;
  margin: 0 0.5em;
}
.navbar .pfimg {
  padding: 0;
  justify-self: flex-end;
}
.navbar .navbar-toggler {
  justify-self: flex-end;
}
.navbar .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  font-size: 14pt;
}
.navbar .nav-item a {
  color: black;
  font-weight: 500;
}
.navbar .nav-item a:hover {
  color: #FF7F0A;
}
.navbar .nav-item .dash {
  color: #FF7F0A;
}

.loreg_card {
  background-color: #EBEBEB;
  grid-column: 1/15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.loreg_card .big_circ_2 {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 80vw;
  min-width: 800px;
  background-color: #EBEBEB;
  position: absolute;
  left: 40vw;
  top: 15vh;
  z-index: -10;
  overflow: hidden;
  background-color: #FF922E;
  opacity: 0.9;
  z-index: 10;
}
.loreg_card h2 {
  font-size: 40pt;
  text-align: center;
  margin: 1em;
  z-index: 20;
}
.loreg_card h2 span {
  font-size: 24pt;
}
.loreg_card form {
  z-index: 10;
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loreg_card form input {
  width: 100%;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  margin-bottom: 2em;
}
.loreg_card form input::-moz-placeholder {
  text-align: center;
  position: relative;
}
.loreg_card form input::placeholder {
  text-align: center;
  position: relative;
}
.loreg_card form button {
  background-color: #444444;
  border-radius: 100px;
  flex-basis: 50%;
  border: none;
  border: #444444 solid;
}
.loreg_card form button:hover {
  background-color: #706E6E;
  border: #706E6E solid;
}
.loreg_card form .forgot {
  color: #444444;
  flex-basis: 50%;
}
.loreg_card form select {
  width: 100%;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  margin-bottom: 2em;
}
.loreg_card form .country-city {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.loreg_card form .cat_select {
  width: 100%;
}
.loreg_card form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 2em;
}
.loreg_card form .updateButton {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  color: #FF922E;
}
.loreg_card form input[type=submit] {
  background-color: #FF7F0A;
  color: white;
}

.price-slider {
  grid-column: 1/4;
  grid-row: 1;
}
.price-slider form {
  height: 100%;
}
.price-slider form input {
  min-width: 40px;
}
.price-slider form .wrapper-price {
  padding-top: 4em;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.price-slider form .wrapper-price .apply-button button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-top: 1em;
  width: 50%;
  font-size: 12pt;
}
.price-slider form .wrapper-price .apply-button button:hover {
  background-color: #FF922E;
}

.results_container {
  grid-column: 5/12;
  margin-top: 2em;
}
.results_container .categories {
  padding: 0;
  display: none;
}
.results_container .job_result {
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  height: 300px;
  margin-bottom: 2em;
  display: flex;
  padding: 0;
  overflow: hidden;
  border: none;
}
.results_container .job_result * {
  margin: 0;
}
.results_container .job_result p {
  line-height: 2;
}
.results_container .job_result .img_div {
  width: 75%;
}
.results_container .job_result .img_div img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.results_container .job_result a {
  align-self: center;
}
.results_container .job_result a .job_button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-top: 1em;
}
.results_container .job_result a .job_button:hover {
  background-color: #FF922E;
}
.results_container .job_result .cat_info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.dash_profile {
  grid-column: 1/4;
  background-color: white;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
.dash_profile p {
  padding: 0 1rem;
}
.dash_profile .doer_image {
  width: 100%;
  background-color: aqua;
  height: 300px;
  margin-bottom: 1em;
}
.dash_profile .doer_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.detail_container {
  grid-column: 2/14;
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  margin: 2em 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.detail_container .reportdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
}
.detail_container .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  border-bottom: solid 1px #B8B6B6;
}
.detail_container .buttons i {
  margin-right: 0.5em;
}
.detail_container .buttons .edit {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.detail_container .buttons .edit:hover {
  background-color: #FF922E;
}
.detail_container .buttons .call {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  margin-left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail_container .buttons .call:hover {
  background-color: #FF922E;
}
.detail_container .buttons .contact {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  margin-left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.detail_container .buttons .contact:hover {
  background-color: #FF922E;
}
.detail_container .buttons .reviewButton {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  margin-left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.detail_container .buttons .reviewButton:hover {
  background-color: #FF922E;
}
.detail_container .buttons .report {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(159, 27, 27);
  margin-right: auto;
}
.detail_container .buttons .report:hover {
  background-color: #FF922E;
}
.detail_container .buttons a {
  padding-left: 2em;
  color: black;
  text-decoration: none;
  align-self: center;
}
.detail_container .job_details {
  display: flex;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
}
.detail_container .job_details img {
  border-radius: 0;
  border-bottom-right-radius: 1rem;
  flex: 1;
}
.detail_container .job_details .job-information {
  padding-top: 1em;
  padding-left: 1em;
}
.detail_container .job_details .description {
  flex-basis: 50%;
  margin: 1em;
  padding: 1em;
  border-radius: 1rem;
  background-color: #F5F5F5;
  width: 100%;
  flex: 1;
}
.detail_container .review-job-detail-page {
  border-bottom: solid 1px #B8B6B6;
}

#reviewFormContainer {
  height: -moz-fit-content;
  height: fit-content;
}
#reviewFormContainer textarea {
  width: 80%;
}
#reviewFormContainer h1 {
  text-align: center;
}
#reviewFormContainer .submit-button button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
#reviewFormContainer .submit-button button:hover {
  background-color: #FF922E;
}

.container {
  grid-column: 2/14;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100%;
}

.header {
  height: 60px;
  width: 100vw;
  background-color: #FF7F0A;
  display: flex;
  align-items: center;
}

.footer {
  height: 80px;
  width: 100vw;
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 100%;
  color: #282222;
  line-height: 40px;
  font-size: 0.8em;
  text-align: center;
  bottom: 0;
  flex-basis: 100%;
}

.css_wrapper {
  height: 100%;
  flex: 1;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  position: relative;
  overflow: hidden;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
}

.css_container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100vw;
}/*# sourceMappingURL=app.css.map */