@charset "UTF-8";
#big_circ {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 80vw;
  min-width: 800px;
  background-color: #EBEBEB;
  position: absolute;
  left: 40vw;
  top: 15vh;
  z-index: -10;
  overflow: hidden;
}

.landing_row_1 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
  padding: 128px 0 72px 0;
}
.landing_row_1 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_1 .welcome_div {
  grid-column: 2/14;
}
.landing_row_1 #welcome {
  font-size: 50pt;
  margin-bottom: 1.5rem;
}
.landing_row_1 span {
  color: #FF7F0A;
}
.landing_row_1 .material-symbols-outlined {
  font-size: 40pt;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
}

.why10dots {
  text-align: center;
  justify-content: center;
  padding-top: 60pt;
  padding-bottom: 0pt;
  font-size: 32pt;
}

.landing_row_2 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
  padding: 0;
  background: radial-gradient(circle, #FF922E 70.7%, transparent 60%);
  background-size: 200px 200px;
  background-repeat: repeat-x;
  background-position: left center;
}
.landing_row_2 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_2 form {
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  grid-column: 2/14;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 50vw;
}
.landing_row_2 .Search_section {
  display: flex;
}
.landing_row_2 .country-city {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.landing_row_2 .country-city select {
  width: 100%;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  margin-bottom: 2em;
  width: 45%;
}
.landing_row_2 div label {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  align-self: first baseline;
  min-height: 2em;
  display: flex;
  align-items: center;
}
.landing_row_2 input {
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  padding-left: 1em;
  min-height: 2em;
  margin: 0 0 2em 0.5em;
}
.landing_row_2 input[type=submit] {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  justify-self: flex-end;
  margin-left: auto;
  width: 30%;
}
.landing_row_2 input[type=submit]:hover {
  background-color: #FF922E;
}

.landing_row_3 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
}
.landing_row_3 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_3 P {
  grid-column: 2/6;
  grid-row: 2;
  text-align: justify;
}
.landing_row_3 .helpout {
  grid-column: 8/14;
  grid-row: 2;
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.landing_row_3 .helpout button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.landing_row_3 .helpout button:hover {
  background-color: #FF922E;
}

.landing_row_4 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
  grid-column: 2/14;
  grid-template-columns: repeat(12, 1fr);
}
.landing_row_4 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_4 H3 {
  grid-column: 1/12;
}
.landing_row_4 .landing_category {
  grid-column: span 3;
  min-height: 300px;
  height: -moz-fit-content;
  height: fit-content;
}
.landing_row_4 .landing_category .cat_img {
  height: 220px;
  background-color: antiquewhite;
  box-shadow: 0 5px 3px #B8B6B6;
  border-radius: 0.5em 0.5em 0 0;
}
.landing_row_4 .landing_category .cat_info {
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0.5em 0.5em;
}
.landing_row_4 .landing_category .cat_info a {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_row_4 .landing_category .cat_info a:hover {
  background-color: #FF922E;
}

.landing_row_5 {
  grid-column: 1/15;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 48px;
}
.landing_row_5 H3 {
  grid-column: 2/14;
  grid-row: 1;
  margin-bottom: 1em;
}
.landing_row_5 h3 {
  color: white;
  margin-bottom: 0;
}
.landing_row_5 .orange_steps {
  grid-row: 2;
  grid-column: 1/15;
  background-color: #FF7F0A;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: inherit;
}
.landing_row_5 .orange_steps .steps_div {
  grid-column: 2/14;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.landing_row_5 .orange_steps .steps_div .step {
  padding: 80px;
  color: white;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing_row_5 .orange_steps .steps_div .step h4 {
  white-space: nowrap;
  margin-top: 1em;
}
.landing_row_5 .orange_steps .steps_div .step .material-symbols-outlined {
  font-size: 28pt;
}
.landing_row_5 .orange_steps .steps_div .step p {
  margin: 2em 0;
}

.navbar {
  background-color: #F5F5F5;
  width: 100vw;
  color: black;
  padding: 0.5em 1em;
  align-items: center;
}
.navbar .logo {
  vertical-align: bottom;
  color: #FF7F0A;
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.navbar .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
  height: 100%;
}
.navbar button {
  padding: 0;
  margin: 0 0.5em;
}
.navbar .pfimg {
  padding: 0;
  justify-self: flex-end;
}
.navbar .navbar-toggler {
  justify-self: flex-end;
}
.navbar .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  font-size: 14pt;
}
.navbar .nav-item a {
  color: black;
  font-weight: 500;
}
.navbar .nav-item a:hover {
  color: #FF7F0A;
}
.navbar .nav-item .dash {
  color: #FF7F0A;
}

.loreg_card {
  background-color: #EBEBEB;
  grid-column: 1/15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.loreg_card .big_circ_2 {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 80vw;
  min-width: 800px;
  background-color: #EBEBEB;
  position: absolute;
  left: 40vw;
  top: 15vh;
  z-index: -10;
  overflow: hidden;
  background-color: #FF922E;
  opacity: 0.9;
  z-index: 10;
}
.loreg_card h2 {
  font-size: 40pt;
  text-align: center;
  margin: 1em;
  z-index: 20;
}
.loreg_card h2 span {
  font-size: 24pt;
}
.loreg_card form {
  z-index: 10;
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loreg_card form input {
  width: 100%;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  margin-bottom: 2em;
}
.loreg_card form input::-moz-placeholder {
  text-align: center;
  position: relative;
}
.loreg_card form input::placeholder {
  text-align: center;
  position: relative;
}
.loreg_card form button {
  background-color: #444444;
  border-radius: 100px;
  flex-basis: 50%;
  border: none;
  border: #444444 solid;
}
.loreg_card form button:hover {
  background-color: #706E6E;
  border: #706E6E solid;
}
.loreg_card form .forgot {
  color: #444444;
  flex-basis: 50%;
}
.loreg_card form select {
  width: 100%;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  margin-bottom: 2em;
}
.loreg_card form .country-city {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.loreg_card form .cat_select {
  width: 100%;
}
.loreg_card form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 2em;
}
.loreg_card form .updateButton {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  color: #FF922E;
}
.loreg_card form input[type=submit] {
  background-color: #FF7F0A;
  color: white;
}

.price-slider {
  grid-column: 1/4;
  grid-row: 1;
}
.price-slider form {
  height: 100%;
}
.price-slider form input {
  min-width: 40px;
}
.price-slider form .wrapper-price {
  padding-top: 4em;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.price-slider form .wrapper-price .apply-button button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-top: 1em;
  width: 50%;
  font-size: 12pt;
}
.price-slider form .wrapper-price .apply-button button:hover {
  background-color: #FF922E;
}

.results_container {
  grid-column: 5/12;
  margin-top: 2em;
}
/* RACHID:ADD STYLE TO MORE CATEGORIES IN THE AREA */
.results_container .categories {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: .3rem;
  background-color: rgba(128, 128, 128, 0.11);
  padding: 1rem;
  border-radius: 1em;
}
.results_container .categories .category-card {
  background-color: rgba(203, 219, 228, 0.349);
  border: 0.5px solid rgba(0, 0, 0, 0.096);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1em;
  min-width: 12rem;
}

.results_container .categories .category-card h6{
  color: rgba(0, 0, 0, 0.678);
}

.results_container .categories .category-card li{
  list-style: none;
}
.results_container .categories .category-card a {
  color: rgba(0, 0, 128, 0.582);
}
/* ============================= */
.results_container .job_result {
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  height: 300px;
  margin-bottom: 2em;
  display: flex;
  padding: 0;
  overflow: hidden;
  border: none;
}
.results_container .job_result * {
  margin: 0;
}
.results_container .job_result p {
  line-height: 2;
}
.results_container .job_result .img_div {
  width: 75%;
}
.results_container .job_result .img_div img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.results_container .job_result a {
  align-self: center;
}
.results_container .job_result a .job_button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-top: 1em;
}
.results_container .job_result a .job_button:hover {
  background-color: #FF922E;
}
.results_container .job_result .cat_info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.dash_profile {
  grid-column: 1/4;
  background-color: white;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
.dash_profile p {
  padding: 0 1rem;
}
.dash_profile .doer_image {
  width: 100%;
  background-color: aqua;
  height: 300px;
  margin-bottom: 1em;
}
.dash_profile .doer_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.detail_container {
  grid-column: 2/14;
  box-shadow: 0 5px 3px #B8B6B6;
  background-color: #D9D9D9;
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 1em;
  margin: 2em 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.detail_container .reportdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
}
.detail_container .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  border-bottom: solid 1px #B8B6B6;
}
.detail_container .buttons i {
  margin-right: 0.5em;
}
.detail_container .buttons .edit {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.detail_container .buttons .edit:hover {
  background-color: #FF922E;
}
.detail_container .buttons .call {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  margin-left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail_container .buttons .call:hover {
  background-color: #FF922E;
}
.detail_container .buttons .contact {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  margin-left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.detail_container .buttons .contact:hover {
  background-color: #FF922E;
}
.detail_container .buttons .reviewButton {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  margin-left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.detail_container .buttons .reviewButton:hover {
  background-color: #FF922E;
}
.detail_container .buttons .report {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0.5em 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(159, 27, 27);
  margin-right: auto;
}
.detail_container .buttons .report:hover {
  background-color: #FF922E;
}
.detail_container .buttons a {
  padding-left: 2em;
  color: black;
  text-decoration: none;
  align-self: center;
}
.detail_container .job_details {
  display: flex;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
}
.detail_container .job_details img {
  border-radius: 0;
  border-bottom-right-radius: 1rem;
  flex: 1;
}
.detail_container .job_details .job-information {
  padding-top: 1em;
  padding-left: 1em;
}
.detail_container .job_details .description {
  flex-basis: 50%;
  margin: 1em;
  padding: 1em;
  border-radius: 1rem;
  background-color: #F5F5F5;
  width: 100%;
  flex: 1;
}
.detail_container .review-job-detail-page {
  border-bottom: solid 1px #B8B6B6;
}

#reviewFormContainer {
  height: -moz-fit-content;
  height: fit-content;
}
#reviewFormContainer textarea {
  width: 80%;
}
#reviewFormContainer h1 {
  text-align: center;
}
#reviewFormContainer .submit-button button {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
#reviewFormContainer .submit-button button:hover {
  background-color: #FF922E;
}

.container {
  grid-column: 2/14;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100%;
}

.header {
  height: 60px;
  width: 100vw;
  background-color: #FF7F0A;
  display: flex;
  align-items: center;
}

.footer {
  height: 80px;
  width: 100vw;
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 100%;
  color: #282222;
  line-height: 40px;
  font-size: 0.8em;
  text-align: center;
  bottom: 0;
  flex-basis: 100%;
}

.css_wrapper {
  height: 100%;
  flex: 1;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  position: relative;
  overflow: hidden;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
}

.css_container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100vw;
}

/*RACHID: DOER DASHBOARD */
/* RACHID:ADD MESSAGE SECTION IN MAIN WELCOME PAGE */
.success-message, .error-message {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 50%;
  margin: 0 auto;
  background-color: red;
}

.success-message {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* RACHID:STYLE THE WEBSITE LOGO */
.logo-image {
  height: 40px;
}

.logo-image img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

/* =============================== */
.close-button {
  position: absolute;
  top: 0.3rem;
  right: 0.75rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}

/* =========================== */
.welcome-error {
  width: 100vw;
}

.error-container {
  background-color: red;
}

.doer-main-container {
  width: 100vw;
}

.doer-container {
  width: 100%;
  margin: 2rem auto;
}

.category {
  background-color: whitesmoke;
  width: 80%;
  height: 14rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  text-align: center;
  overflow: hidden;
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 0.7rem;
}

.categories a.category-job-link {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.637);
}

.categories a.category-job-link:hover {
  color: blue;
}

.categories a.category-job-link:active {
  color: red;
}

.category .cat_img {
  width: 40%;
  height: 10rem;
  border: 1px solid gray;
}

.category .cat_img img {
  width: 100%;
  height: 100%;
}

.job-detail .details-button {
  margin-top: 2rem;
}

.category .job-detail {
  background-color: rgba(0, 128, 0, 0.219);
  width: 60%;
  height: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category .job-detail .cat_text {
  width: 100%;
  height: 100%;
  text-align: start;
  padding-left: 0.5rem;
}

.cat_text .job-title {
  text-align: center;
}

.job-title .job-category, .cat_info .job-category {
  color: gray;
  font-size: large;
}

.cat_text .address {
  display: flex;
  flex-wrap: wrap;
}

.category button {
  padding: 0.3rem 0.4rem;
  border: none;
  background-color: rgba(128, 128, 128, 0.541);
  border-radius: 5px;
  margin-top: 1rem;
}

.category button:hover {
  background-color: gray;
}

.job-list-container > .job-card-body {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.job-list-container > .job-card-body img {
  max-width: 100%;
  border: 5px solid red;
}

.card-body {
  padding: 0 20px 20px;
}

.buttons > button {
  background: rgba(128, 128, 128, 0.596);
  border: 0;
  color: white;
  padding: 5px;
  width: 50%;
}

.buttons > button a {
  text-decoration: none;
  color: white;
}

.buttons button:hover {
  background-color: gray;
}

/* ================================= */
/* DOER PROFILE BOX */
.profile_row {
  width: auto;
  height: 15rem;
  margin-left: 1rem;
}

.profile_row .card {
  width: 56rem;
  height: 100%;
}

.profile_row .card-body {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile_row .card-body .profile-text-info {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}

.profile-text-info .info-1, .profile-text-info .info-2 {
  flex-direction: row;
  width: 17rem;
}

.dash_profile {
  position: relative;
  padding: 1rem;
}

.dash_profile .doer_image {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.445);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dash_profile .doer_image img {
  height: 100%;
  width: 100%;
}

.dash_profile .upload {
  position: absolute;
  left: 1.3rem;
}

.results_container .cat_info {
  text-align: center;
  line-height: 1.5rem;
}

/* ADMIN DASHBOARD PROFILE IMAGE */
.image-card {
  background-color: rgba(128, 128, 128, 0.055);
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-card .admin-image {
  width: 50%;
  height: 10rem;
  margin-bottom: 5rem;
}

.image-card img {
  height: 100%;
  width: 100%;
}

.image-card .card-body {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-body .admin-upload {
  position: absolute;
  bottom: 9rem;
  left: 5rem;
}

/* ==========ADMIN DASHBOARD=================== */
/* RACHID:STYLING SEARCH_RESULT_WITHOUT_PRICE TEMPLATE */
.main-container .css_wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.main-container .css_wrapper .container-reasults {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
}

.main-container .css_wrapper .container-reasults .category .cat-info {
  margin: 2rem;
  width: 100%;
}

.admin-info button {
  background-color: #FF7F0A;
  color: white;
}

.admin-info button:hover {
  background-color: #FF922E;
}

.admin-info .card-body .input {
  width: 20rem;
}

/* ===================================== */
/* //RACHID: PRICE SLIDER STYLE
//Styling the price slider RACHID */
.wrapper-price {
  width: 20rem;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

header h2 {
  font-size: 24px;
  font-weight: 600;
}

header p {
  margin-top: 5px;
  font-size: 16px;
}

.price-input {
  width: 100%;
  height: 1.5rem;
  display: flex;
  margin: 0.8rem 0;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background-color: rgba(255, 128, 10, 0.1098039216);
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background-color: #FF7F0A;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #FF7F0A;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background-color: #FF7F0A;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.apply-button {
  margin-top: 1.5rem;
  text-align: center;
}

.apply-button button {
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 128, 10, 0.5411764706);
}

.apply-button button:hover {
  background-color: #FF7F0A;
}

/* // ========PRICE SLIDER STYLING========== */
/* //RACHID:UPDATE IMAGE BUTTON AND ICON */
.image-profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar {
  position: absolute;
  top: -0.3rem;
  right: 8rem;
  width: 6%;
  text-align: center;
}

.image-container {
  width: 15rem;
  position: relative;
}

.image {
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
  margin-bottom: 2rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 8px;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload .round {
  position: absolute;
  background-color: whitesmoke;
  bottom: 1.5rem;
  left: 0;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
}

.round i {
  margin-bottom: 2rem;
}

/* /////THIS IS THE CSS FOR THE LEAVE A REVIEW FORM IN JOB DETAILS///// */
#reviewFormContainer {
  display: none;
  position: absolute;
  top: 15%;
  left: 30%;
  background-color: #adb5bd;
  padding: 1rem;
  border: 1px solid black;
  height: auto;
  width: 40%;
}

#reviewFormContainer .close-button {
  border: none;
  width: 1rem;
  position: absolute;
  right: 1rem;
  background-color: #adb5bd;
}

#reviewFormContainer .main-review-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.main-review-form .name-email {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-review-form .name-email input {
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}

.main-review-form #textarea {
  border: none;
  border-radius: 5px;
  width: 25rem;
  height: 8rem;
}

#reviewFormContainer .submit-button {
  margin-top: 2rem;
  text-align: center;
}

.submit-button button:hover {
  background-color: #c59b08;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  background-color: gray;
  border-radius: 5px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 0.6em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  transition: color 0.3s;
  height: 1.2rem;
  margin-top: 0.8rem;
}

.rate:not(:checked) > label:before {
  content: "●";
}

.rate > input:checked ~ label {
  color: #FF7F0A;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #FF7F0A;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #FF7F0A;
}

.rate:not(:checked) > label:hover {
  color: white;
}

.leave-review-text, .date-area {
  padding: 0 0.5rem;
}

/* RACHID: ADD STYLE TO CONTACT DOER FORM ADD SOME PADDING TO INPUT */
.doer-contact-form input{
  padding-left: .5rem;
}
/* ///////END CSS FOR JOB_LEAVE_REVIEW//////// */
/* //Hide the submit button for profile image before its upload */
.round button {
  visibility: hidden;
}

.round button.show {
  visibility: visible;
}

.round input[type=file] {
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scale(2);
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

/* RACHID:STYLING DOER JOB DETAILS */
/* ************************** */
.job-image {
  height: 100%;
  position: relative;
}

#job-detail-round .round {
  position: absolute;
  top: 2rem;
  left: 4rem;
  z-index: 1;
}

.img_div img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* *********************** */
.job-main-content {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-main-content .doer-job-details {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 3rem;
}

.doer-job-details-card {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.062);
  height: 22rem;
  padding: 2rem;
}

.doer-job-details-card .job-image {
  width: 35%;
}

.job-informations {
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 0 5rem;
}

.doer-job-details img {
  width: 50%;
  height: 10rem;
  margin-right: 1rem;
  border: 1px solid black;
}

.job-country-city {
  display: flex;
}

.job-country-city .country {
  margin-right: 1rem;
}

.doer-job-details .job-description {
  margin-top: 2rem;
  line-height: 2rem;
  background-color: rgba(128, 128, 128, 0.062);
  height: 100%;
  position: relative;
  padding: 1rem;
}

.job-description .edit-delete {
  position: absolute;
  bottom: 1rem;
  left: 45%;
}

.job-description a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  background-color: rgba(128, 128, 128, 0.623);
}

.job-description .delete {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.726);
  margin-left: 2rem;
  padding: 0.5rem 1rem;
}

.job-description a {
  border-radius: 10px;
}

.job-description a:hover {
  background-color: gray;
}

.job-description .delete:hover {
  background-color: red;
}

.doer-job .delete {
  margin-left: 0 1rem;
  padding: 0.5rem;
}

.doer-job .delete:hover {
  color: red;
  transform: scale(1.1);
}

.job-image-doer {
  padding: 0.5rem;
}

/* RACHID:ADD STYLE TO CUSTOMER JOB DETAIL TEMPLAGE */
.contact-me a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background-color: rgba(0, 128, 0, 0.774);
  margin: 0 2.5rem;
  color: white;
  border-radius: 1.5rem;
}

.contact-me a:hover {
  background-color: green;
}

.contact-me button {
  background-color: orange;
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 1.5rem;
  color: white;
}

.contact-me button:hover {
  background-color: #c59b08;
  border: none;
}

.job-detail-button {
  margin-top: 3rem;
}

/* RACHID:ADD STYLE TO REVIEWS AT JOB DETAILS PAGE THE USER VISIT */
.reviews-container {
  height: auto;
  width: 100%;
}

.review-job-detail-page {
  height: auto;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  line-height: 1rem;
  padding: 1rem;
}

.reviews-container .review-name-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.reviews-container .icon-image {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.reviews-container .icon-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.customer-job-details .card-img-top {
  padding-left: 1rem;
}

/* ================================================== */
/* ==================================== */
/* RACHID:STYLING THE SPAM DIV AND BUTTONS */
.job-image-guest {
  background-color: rgba(128, 128, 128, 0.479);
  position: relative;
}

.job-image-guest img {
  width: 100%;
}

.spam-button a {
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 20px;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.close {
  cursor: pointer;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

#reportButton {
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

#reportButton:hover {
  background-color: #c82333;
}

#confirmButton {
  margin-left: 10px;
}

#confirmButton a {
  text-decoration: none;
  color: #fff;
}

/* ============================================ */
/* /* ============Jean: THIS IS THE alert ==========  */
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(100deg, #EBEBEB, #B8B6B6);
  border: 1px solid #eee3e3;
  color: #ffffff;
  padding: 40px;
  width: 600px;
  height: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.alert.hide {
  display: none;
}

.alert h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.623);
}

.contact-us .text-area {
  padding: 0.5rem;
}

#alert-message .success-ok {
  background-color: orange;
  margin-top: 5rem;
}

/* RACHID:ADD STYLE TO DOER PROFILE SEARCHED BY ADMIN */
/* SEARCH FORM */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.doer-email label {
  display: block;
  margin-bottom: 10px;
}

.doer-email input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* DOER PROFILE CARD */
#card-deck {
  width: 100vw;
  height: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#card-deck .category {
  height: 80%;
  padding: 2rem;
}

#card-deck .cat_info {
  width: 100%;
  height: 80%;
}

#card-deck .category .job-image {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
}

#card-deck .category .job-image img {
  height: 100%;
}

#card-deck .cat_info {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#card-deck .cat_info .contact-me {
  position: absolute;
  bottom: 1rem;
}

#card-deck .category .job-informations {
  width: 40rem;
  line-height: 2rem;
}

#card-deck .category .job-title {
  text-align: center;
}

#card-deck .category .job-info-text {
  font-size: 1rem;
}

/* ===================================================== */
/* RACHID:ADD SOME CHANGE TO FEATURED JOB CARDS EXIST IN THE HOME PAGE */
.landing_row_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.landing_row_4 .landing_category {
  width: 20rem;
}

.landing_row_4 .landing_category .cat_info a {
  background-color: #FF7F0A;
  margin: 0;
  color: white;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  min-height: 2em;
  padding: 0 2em;
  white-space: nowrap;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-decoration: none;
  text-align: center;
}

.landing_row_4 .landing_category .cat_info p {
  text-align: start;
  height: 3rem;
}

.landing_row_4 .landing_category img {
  height: 100%;
  width: 100%;
}

/* RACHID:ADD UPLOAD JOB IMAGE BY DOER FROM DOER DASHBOARD */
.doer-job-details-card {
  position: relative;
}

.doer-job-details-card .round {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

.no-jobs-message p{
 width: 10rem;
}
/* RACHID:ADD STYLE TO RATING DIV FOR FEATURED JOBS */
.rating .rate {
  margin: 1rem 0;
  background-color: #B8B6B6;
}
.rating #rate-welcome , #rate-welcome {
  margin: 1rem 0;
  height: 3rem;
  background-color: #35333346;
}
.rating #rate-welcome label, .main-review-form #rate-welcome label {
  height: 2.5rem;
  margin-top: 0;
}

/* ================================================== */
.alert .btn {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #4CAF50;
  color: #171414;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.alert .btn:hover {
  background-color: #45a049;
}

.alert h3 {
  margin: 0;
  color: #212020;
}

.alert .btn {
  margin-top: 16px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #4CAF50;
  color: #1e1c1c;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.alert .btn:hover {
  background-color: #45a049;
}

/* /* ===============end==========  */
/* RACHID:ADD STYLE TO PHONE JOB PHONE NUMBER ICON */
.phone-number i {
  margin-right: 0.45rem;
}

.phone-number {
  text-decoration: none;
}

.email-me i {
  margin-right: 0.2rem;
}

.contacts-link {
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.contacts-link .contact-me {
  position: absolute;
  right: 1rem;
}

.contacts-link .email-me {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  margin: 0 2rem;
  background-color: #45a049;
  color: white;
}

.contacts-link .email-me:hover {
  color: black;
  text-decoration: underline;
}

.phone-link a {
  padding: 0;
  background-color: whitesmoke;
  color: #0056b3;
  background-color: orange;
  padding: 1rem 2rem;
  color: white;
}

.phone-link a:hover {
  background-color: orange;
  color: black;
  text-decoration: underline;
}

.phone-link .phone-number {
  font-size: 1.2rem;
}

/* ================================================== */
/* RACHID:ADD STYLE ABOUT US PAGE CARD */
:root {
  --background-color: #ece0e8;
  --color-primary-light: #ca3782;
  --color-primary-dark: #1e0b36;
  --color-black: #000;
  --color-gray-dark: #aaa;
  --color-gray-light: #eee;
  --color-white: #fff;
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.artboard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  /* font-size: 62.5%; */
  width: 100vw;
}

.card-us {
  flex: initial;
  position: relative;
  height: 32rem;
  width: 18rem;
  perspective: 200rem;
  margin: 2rem;
}

.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(var(--color-black), 0.15);
}

.card__side--front {
  background-image: linear-gradient(to right bottom, rgba(var(--color-primary-dark), 0.65), rgba(var(--color-primary-light), 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  background-color: #FF7F0A;
  height: 32rem;
}

.card__side--back {
  transform: rotateY(180deg);
  height: 32rem;
  background-color: rgba(255, 128, 10, 0.6980392157);
  text-align: center;
  position: relative;
}

.card__side--back .git {
  position: absolute;
  bottom: 1rem;
  left: 35%;
}

.card-us:hover .card__side--back {
  transform: rotateY(0);
}

.card-us:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card__theme {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__theme-box {
  color: var(--color-white);
  margin-bottom: 8rem;
}

.card__theme-box .image-box {
  width: 100%;
  height: 19rem;
  padding-top: 2rem;
}

.card__theme .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
  overflow: hidden;
}

/* .card__theme .image-box img.profile-3{
    margin-top: 2.3rem; 
}

.card-3 .card__title {
padding-top: 2rem;
} */
.card__theme-box .profile {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.card__subject {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #212020;
}

.card__title {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 100;
}

.card__cover {
  position: relative;
  background-size: cover;
  height: 14rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(var(--color-primary-dark), 0.65), rgba(var(--color-primary-light), 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.card__heading {
  text-align: center;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.card__heading-span {
  font-family: "VT323", monospace;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
  color: #212020;
}

.card__details {
  font-family: "Inconsolata", monospace;
  line-height: 2rem;
  margin-top: -4rem;
  color: var(--color-white);
  position: relative;
}

.card__details ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  height: 22rem;
}

.card__details li {
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  margin-top: 1rem;
}

.article {
  position: absolute;
  top: 18rem;
  right: 4rem;
}

.article a {
  text-decoration: none;
}

.about-us-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.about-us-text .about-text {
  width: 80%;
  height: auto;
  padding: 1rem 2rem;
  background-color: rgba(224, 207, 207, 0.171);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ======================================= */
.edit-job-form input, .edit-job-form textarea {
  padding: 0 0.5rem;
}

/* RACHID:MOVE THE MEDIA QUERY TO THE BOTTOM */
@media (max-width: 800px) {
  .landing_row_4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .landing_row_3 .helpout {
    width: 25rem;
  }
  .landing_row_3 p {
    width: 20rem;
  }
  .main-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .landing_category {
    background-color: blue;
    width: 20rem;
  }
  .modal-content {
    width: 70%;
  }
  /* DOER PROFILE BOX */
  .profile_row {
    width: 100%;
    height: auto;
    margin-left: 1rem;
  }
  .profile_row .card {
    width: 32rem;
    height: 100%;
  }
  .profile_row .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .card-body .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-body .image-container .upload .round {
    left: 4rem;
  }
  .container-reasults {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container-reasults .category {
    width: 100%;
  }
  /* RACHID:ADD RESPONSIVE TO ABOUT-US-TEXT  */
  .card-us {
    flex: initial;
    position: relative;
    height: 32rem;
    width: 16rem;
    perspective: 200rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card__subject {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .card__title {
    font-size: 1.5rem;
  }
  .about-us-text .about-text {
    height: 25rem;
    width: 100%;
  }
  /* Style job details page for customer, doer, admin */
  .job-informations {
    width: 100%;
    height: 100%;
    text-align: start;
  }
  .doer-job-details-card {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .doer-job-details-card .job-image-guest {
    width: 100%;
    margin-bottom: 1rem;
  }
  .doer-job-details-card .job-detail-button {
    width: 30rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
}
@media (max-width: 580px) {
  .landing_row_3 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .landing_row_4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .landing_category {
    width: 80%;
    height: 80%;
    margin-bottom: 0.5rem;
  }
  .modal-content {
    width: 80%;
  }
  /* DOER PROFILE BOX */
  .profile_row {
    width: 55%;
    height: 100%;
  }
  .profile_row .card {
    width: 100%;
    height: 28rem;
    padding: 0;
  }
  .profile_row .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-reasults {
    width: 60%;
    margin-left: 1rem;
  }
  .container-reasults .category {
    width: 100%;
  }
  .profile_row .card-body .profile-text-info {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .card-body .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-body .image-container .upload .round {
    left: 4rem;
  }
  .about-us-text .about-text {
    background-color: red;
    height: 25rem;
    width: 100%;
  }
  /* Style job details page for customer, doer, admin */
  .job-info-text {
    width: 20rem;
  }
  .job-informations {
    width: 100%;
    height: 100%;
    text-align: start;
  }
  .doer-job-details-card {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .doer-job-details-card .job-image-guest {
    width: 100%;
    margin-bottom: 1rem;
  }
  .doer-job-details-card .job-detail-button {
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }
  .job-detail-button a {
    margin-left: 0;
  }
  .job-detail-button a, .job-detail-button button {
    width: 35%;
  }
}/*# sourceMappingURL=app.css.map */

/* BOOKING SINGLE NOTIFICATION STYLING */
.notification-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  .notifications-container-booking {
    background-color: rgba(128, 128, 128, 0.336);
    padding: 2rem;
    height: 20rem;
  }
  .notification-container .booking-decision{
    display: flex;
   justify-content: space-around;
   padding: 1rem;
  }
  
  .notification-container .booking-decision button{
   padding: .4rem;
   border: none;
   color: whitesmoke;
  }
  .notification-container .loading{
    margin: .5rem;
   }
   .no-pending-jobs {
    width: 50vw;
    text-align: center;
    font-size: 2rem;
   }
  .notification-container .booking-decision .accept{
    background-color: #45a049;
   }
  
   .notification-container .booking-decision .decline{
    background-color: red;
   }

  .notifications-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .notifications {
    width: 80vw;
  }
  .notifications .single-notification{
    background-color: rgba(128, 128, 128, 0.342);
    padding: 1rem;
    margin-top: .5rem;
  }
  .notifications .single-notification .notification-card{
    text-decoration: none;
    color: #1e1c1c;
  }
  .notification-card .notification-date{
    font-size:.9em!important ;
      float:right;
  }
  .notification-card .notification-title{
    font-size: 1.2em;
    font-weight: 500;
  }
  
  #notification-seen{
    background-color: whitesmoke;
  }

  /* RACHID: STYLE BOOK NOW FORM */
.book-main-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  z-index: 9999;
  width: clamp(20rem, 25%, 30rem);
  max-width: 90%;
  height: 20rem;
  max-height: 90%;
  
}
.book-main-container.hide {
  display: none;
}

.book-main-container.show {
  display: block;
}
.book-now-container{
  width: 100%;
  height: 100%;
  background-color: #17141465;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding: 1rem;
  color: white;
  position: relative;
}
.book-form{
  display: flex;
  flex-direction: column;
}
.book-form input{
  padding: 0 .5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
}

.book-form .submit{
  width: 10rem;
  border: none;
  margin-top: .5rem;
  border-radius: 2px;
}
.book-form .submit:hover{
 background-color: orange;
 color: white;

}
.book-now-container .close-form{
  position: absolute;
  right:.5rem;
  top: 0;
  cursor: pointer;
  color: black;
  font-size: large;
  cursor: pointer;
 }
 .book-now-container .close-form:hover{
  color: whitesmoke;
 }

 .error-message-email{
  color: red;
  visibility: hidden;
  text-align: start;
  width: 100%;
  margin-top: .5rem;
 }
 .booking-container{
  width: 13rem;
  height: 10rem;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .booking-container a {
  text-decoration: none;
  background-color: orange;
  width: 9rem;
  padding: .5rem;
  color: white;
 }
 .booking-container a:hover {
  border: 1px solid orange;
  background-color: transparent;
 }
 .booking-container .booking {
  margin-bottom: .5rem;
 }
 .doer-booking-list{
  background-color: rgba(128, 128, 128, 0.192);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100vw;
 }
 .doer-booking-list .notifications-container-booking{
 background-color: rgba(245, 222, 179, 0.397);
 border: 1px solid rgba(0, 0, 0, 0.281);
 width: 15rem;
 box-shadow: rgba(0, 0, 0, 0.15) 2.5px 2.5px 20px;
 }
 .doer-booking-list .notifications-container-booking a{
 text-decoration: none;
 font-size:1.1rem;
 padding: .5rem;
 
}
.doer-booking-list .notifications-container-booking span{
  margin-right: .5rem;
 }
 .notifications-container-booking .job-booking{
  width: 100%;
  padding: 0.3rem .5rem;
  height: auto;
 }
 .decisions-botton{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .decisions-botton button{
  width: 3.7rem;
  height: 2rem;
  padding: .3rem auto;
  border: none;
  color: white;
 }
 .decisions-botton .yes{
  background-color: #45a049de;
 }
 .decisions-botton .yes:hover{
  background-color: transparent;
  border: 1px solid #45a049de;
  color: black;
 }
 .decisions-botton .delete{
 background-color: rgba(255, 0, 0, 0.815);
 }
 .decisions-botton .delete:hover{
  background-color: transparent;
  border: 1px solid red;
  color: black;
 }
 .booking-request-list-link{
  width: 100vw;
  height: 10rem;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .booking-request-container{
  border: 1px solid rgba(0, 0, 0, 0.295);
  background-color: rgba(231, 224, 224, 0.096);
  padding: 1rem;
  width: 50%;
  height: 10rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 .booking-request-page{
  margin-top: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .booking-request-container a{
 text-decoration: none;
 padding: .5rem;
 background-color: orange;
 color: white;
 }
 .booking-request-container a:hover{
  border: 1px solid black;
  background-color: transparent;
  color: black;
  }
