$ten_dot_orange: #FF7F0A;
$light_orange: #FF922E;
$white: #FFFF;
$black: #252525;

$grey00: #F5F5F5;
$grey01: #EBEBEB;
$grey02: #D9D9D9;
$grey03: #B8B6B6;
$grey04: #9F9F9F;
$grey05: #706E6E;
$grey06: #444444;

@import 'landingpage';

//for bootstrap
.container{
    grid-column: 2/14;
}


*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height: 100%;
}

.header{
    height: 60px;
    width: 100vw;
    background-color: $ten_dot_orange;

    display: flex;
    align-items: center;
}

.footer{
    height: 40px;
    width: 100vw;
    background-color: $ten_dot_orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css_wrapper {
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 0.5fr repeat(12,1fr) 0.5fr;
    position: relative;
    overflow: hidden;
    column-gap: 1rem;
    width: 100%;
}

.css_container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}