#big_circ {
    border-radius: 50%;
    aspect-ratio: 1;

    width: 80vw;
    min-width: 800px;
    background-color: $grey01;
    position: absolute;
    left: 40vw;
    top: 15vh;
    z-index: -10;
    // transform: translatex(30%);
    overflow: hidden;
}

@mixin landing_row {
    grid-column: 1/15;
    height: fit-content;
    min-height: 20vh;
    border: 5PX solid green;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.5fr repeat(12,1fr) 0.5fr;
}

.landing_row_1 {
    @include landing_row;
    padding: 128px 0 72px 0;

    .welcome_div {
        grid-column: 2/14;
    }
    #welcome {
        font-size: 50pt;
    }

    span {
        color: $ten_dot_orange;
    }
}

.landing_row_2 {
    @include landing_row;
    background: radial-gradient(circle,$light_orange 70.7%, transparent 60%);
    background-size: 200px 200px;
    background-repeat: repeat-x;
    background-position: left center;
    
    form {
        grid-column: 2/14;
        background-color: $grey02;
        box-sizing: border-box;
        padding: 3em;
        border-radius: 1em;

        width: fit-content;
        min-width: 50vw;
        box-shadow: 0 5px 3px $grey03;
    }

    div {
        display: flex;
    }

    div label {
        width: fit-content;
        white-space: nowrap;
        align-self: first baseline;
        // background-color: aqua;
        min-height: 2em;
        display: flex;
        align-items: center;
    }

    input {
        border: none;
        width: 100%;
        border-radius: 100px;
        box-sizing: border-box;
        padding-left: 1em;
        min-height: 2em;

        margin: 0 0.5em 2em 0.5em;
    }

    input[type="submit"] {
        background-color: $ten_dot_orange;
        width: 30%;
        margin: 0;
        color: white;
        padding: 0;
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 0.5em;
    }
}

.landing_row_3 {
    @include landing_row;
    H3{
        grid-column: 2/14;
        grid-row: 1;
    }
    P {
        grid-column: 2/6;
        grid-row: 2;
    }
    .helpout {
        grid-column: 8/14;
        grid-row: 2;
    }
}