.loreg_card {
    padding-top: 4em;
    background-color: $light_orange;
    grid-column: 1/15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

    form {
        width: 30%;
        min-width: 300px;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    input {
        width: 100%;
        border: none;
        width: 100%;
        border-radius: 100px;
        box-sizing: border-box;
        min-height: 2em;
        margin-bottom:2em;
    }

    button {
        background-color: $grey06;
        border-radius: 100px;
        flex-basis: 50%;
        border: none;
        border: $grey06 solid;
    }
    button:hover{
        background-color: $grey05;
        border: $grey05 solid;
    }

    .forgot{
        color: $grey06;
        flex-basis: 50%;
    }

    select {
        width: 100%;
        border: none;
        width: 100%;
        border-radius: 100px;
        box-sizing: border-box;
        min-height: 2em;
        margin-bottom:2em;
    }

    .country-city{
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 200px;
        margin-bottom: 2em;
    }

    .updateButton {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: white;
        color: $light_orange;
    }
}