.navbar {
    background-color: $grey00;
    width: 100vw;
    color: black;
    padding: 0.5em 1em;

    .logo{
        font-size: 24pt;
        vertical-align: bottom;
        color: $ten_dot_orange;
        margin-left: 0.5em;
    }
    button {
        padding: 0;
        margin: 0 0.5em;
    }

    .pfimg {
        padding: 0;
        justify-self: flex-end;
    }

    .navbar-toggler {
        justify-self: flex-end;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1em;
        font-size: 14pt;
        a {
            color: black;
            font-weight: 500;
        }
        a:hover{
            color: $ten_dot_orange;
        }
        
        .dash {
            color: $ten_dot_orange;
        }
    }
}

