.price-slider {
    grid-column: 1/4;
    grid-row: 1;
    form{
        height: 100%;
        input {
            min-width: 40px;
        }
    .wrapper-price {
        padding-top: 4em;
        width: 100%;
        height: 100%;
        border-radius: 0;
        .apply-button button {
            @include orange_button;
            margin-top: 1em;
            width: 50%;
            font-size: 12pt;
        }
    }
    }
}
.results_container{
    grid-column: 5/12;
    margin-top: 2em;

    .categories {
        padding: 0;
        display: none;
    }
    .job_result {
        @include card;
        height: fit-content;
        min-height: 100px;
        margin-bottom: 2em;
        display: flex;
        padding:0;
        overflow: hidden;
        border: none;
        *{
            margin: 0;
        }
        p {
           line-height: 2;
        }
        .img_div {
            width: 75%;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        a{
            align-self: center;
            .job_button {
                @include orange_button;
                margin-top: 1em;
            }
        }
        .cat_info {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }
    }
}