/*RACHID: DOER DASHBOARD */

/* RACHID:ADD MESSAGE SECTION IN MAIN WELCOME PAGE */
.welcome-error {
  width: 100vw;
}
.doer-container{
  width: 100%;
}
.category{
  background-color: whitesmoke;
  width: 80%;
  height: 14rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  text-align: center;
  overflow: hidden;
  margin: 1rem 2rem;
  /* padding: 1rem 1.5rem; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: .7rem;
  
  
}
.categories a.category-job-link{
  text-decoration: none;
  color: rgba(0, 0, 255, 0.637);
}

.categories a.category-job-link:hover{
  color: blue;
}

.categories a.category-job-link:active{
  color: red;
}

.category .cat_img{
  /* background-color: red; */
  width: 40%;
  height: 10rem;
  border: 1px solid gray;
}
.category .cat_img img {
  width: 100%;
  height: 100%;
}

.job-detail .details-button{
  margin-top: 2rem;
}
.category .job-detail{
  background-color: rgba(0, 128, 0, 0.219);
  width: 60%;
  height: 100%;
  /* margin-top: 1rem; */
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.category .job-detail .cat_text{
  /* background-color: red; */
  width: 100%;
  height: 100%;
  text-align: start;
  padding-left: .5rem;
}
.cat_text .job-title{
  text-align: center;
}

.cat_text .address {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
}

.category button{
  padding: .3rem .4rem;
  border: none;
  background-color:rgba(128, 128, 128, 0.541);
  border-radius: 5px;
  margin-top: 1rem;
  
}

.category button:hover{
  background-color: gray;
}
.job-list-container > .job-card-body {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.job-list-container > .job-card-body img {
  max-width: 100%;
  
  border: 5px solid red;
  
}
.card-body {
  padding: 0 20px 20px;
}

.buttons {
  background-color: red;
  text-align: center;
}
.buttons> button {
  background: rgba(128, 128, 128, 0.596);
  border: 0;
  color: white;
  padding: 5px;
  width: 50%;
}

.buttons > button  a {
  text-decoration: none;
  color: white;
}

.buttons button:hover {
  background-color: gray ;
}
/* ================================= */
/* DOER PROFILE BOX */
.profile_row{
  width: auto;
  height: 15rem;
  margin-left: 1rem;
}
.profile_row .card{
  width: 50rem;
  height: 100%;
  
}
.profile_row .card-body{
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile_row .card-body .profile-text-info{
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}
.profile-text-info .info-1, .profile-text-info .info-2{
  flex-direction: row;
  width: 17rem;
}
/* ADMIN DASHBOARD PROFILE IMAGE */
.image-card {
  background-color: rgba(0, 255, 179, 0.164);
  height: auto;
  text-align: center;

}

.image-card img {
  height: 20rem;
}
/* ==========ADMIN DASHBOARD=================== */

/* RACHID:STYLING SEARCH_RESULT_WITHOUT_PRICE TEMPLATE */
.main-container .css_wrapper{
  /* background-color: rgba(255, 0, 0, 0.288); */
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.main-container .css_wrapper .container-reasults {
  /* background-color: rgba(0, 0, 255, 0.315); */
  width: 100vw;
  /* margin-bottom: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  /* grid-gap: 1rem; */

  
}

.main-container .css_wrapper .container-reasults .category .cat-info{
  /* background-color: red; */
  margin: 2rem;
  width: 100%;
}

/* ===================================== */
/* //RACHID: PRICE SLIDER STYLE
//Styling the price slider RACHID */
.wrapper-price{
  width: 20rem;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  font-size: .8rem;
}
header h2{
  font-size: 24px;
  font-weight: 600;
}
header p{
  margin-top: 5px;
  font-size: 16px;
}
.price-input{
  width: 100%;
  height: 1.5rem;
  display: flex;
  margin: .8rem 0;
}
.price-input .field{
  display: flex;
  width: 100%;
  height:100%;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background-color: #ff800a1c;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background-color: #FF7F0A;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #FF7F0A;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background-color: #FF7F0A;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
.apply-button {
  margin-top: 1.5rem;
  text-align: center;
}
.apply-button button {
  padding: .3rem .8rem;
  border: none;
  border-radius: 5px;
  background-color: #ff800a8a;
}
.apply-button button:hover {
  background-color: #FF7F0A;
}
/* // ========PRICE SLIDER STYLING========== */

/* //RACHID:UPDATE IMAGE BUTTON AND ICON */
.image-profile{
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
}
.avatar {
  /* background-color: yellow; */
  position: absolute;
  top: -.3rem;
  right: 8rem;
  width: 6%;
  text-align: center;

}
.image-container {
    width: 15rem;
    position: relative;
    /* background-color: rgba(255, 0, 0, 0.123); */
}
.image {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 8px;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
  .round{
    position: absolute;
    background-color: whitesmoke;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
  }

  .round i {
    margin-bottom: 2rem;
  }


/* /////THIS IS THE CSS FOR THE LEAVE A REVIEW FORM IN JOB DETAILS///// */
/* {
    margin: 0;
    padding: 0;
    } */

    #reviewFormContainer {
      display: none;
      position: absolute;
      background-color: #adb5bd;
      padding: 1rem;
      border: 1px solid black;
      height: 80%;
      width: 40%;
    }
    #reviewFormContainer .main-review-form{
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 90%;
      
    }


    .main-review-form .name-email{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .main-review-form .name-email input{
      border: none;
      border-radius: 5px;
      padding: .2rem .4rem;
    }

    .main-review-form #textarea{
     border: none;
     border-radius: 5px;
      width: 30rem;
      height: 8rem;
    }
    #reviewFormContainer .submit-button{
      margin-top: 4rem;
      text-align: center;
    }
    .submit-button button {
      padding: .3rem 1rem;
      border: none;
      border-radius: 5px;
      background-color: orange;
    }

    .submit-button button:hover {
      background-color: #c59b08;
    }

    .rate {
      float: left;
      height: 46px;
      padding: 0 10px;
      background-color: gray;
      border-radius: 5px;

    }

    .rate:not(:checked) > input {
      position: absolute;
      top: -9999px;
    }

    .rate:not(:checked) > label {
      float: right;
      width: .6em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 30px;
      color: #ccc;
      border-radius: 50%;
      transition: color 0.3s; 
    }

    .rate:not(:checked) > label:before {
        content: 'â—';

      }


    .rate > input:checked ~ label {
      color: orange;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
      color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
    }

    .rate:not(:checked) > label:hover {
      color: white;
    }
/* ///////END CSS FOR JOB_LEAVE_REVIEW//////// */ 
  /* //Hide the submit button for profile image before its upload */
  .round button {
    visibility:hidden;
  }

  .round button.show {
    visibility: visible;
  }
  .round input[type="file"] {
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scale(2);
    opacity: 0;
    width: 1rem;
    height: 1rem;
  }
input[type = "file"]::-webkit-file-upload-button{
    cursor: pointer;
}

/* RACHID:STYLING DOER JOB DETAILS */
.job-main-content{
  /* background-color: rgba(255, 0, 0, 0.349); */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-main-content .doer-job-details{
  /* background-color: rgba(0, 0, 255, 0.295); */
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 3rem;
}
.doer-job-details-card{
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.062);
  /* justify-content: center; */
  
  height: 50rem;
}
.job-informations{
  /* background-color: yellow; */
  width: 50%;
  height: 100%;
  text-align: start;
  padding: 0 1rem;
}
.doer-job-details img{
  width: 100%;
  height: 13rem;
  margin-right: 1rem;
  border: 1px solid black;
}

.job-country-city{
  /* background-color: red; */
  display: flex;
  
}
.job-country-city  .country{
  margin-right: 1rem;
}

.doer-job-details .job-description{
  margin-top: 2rem;
  line-height: 2rem;
  /* text-align: center; */
  background-color: rgba(128, 128, 128, 0.062);
  height: 100%;
  position: relative;
  padding: 1rem;
}
.job-description .edit-delete{
  position: absolute;
  bottom: 1rem;
  left: 45%;
}
.job-description a{
  text-decoration: none;
  color: white;
  padding: .5rem 1.5rem;
  background-color: rgba(128, 128, 128, 0.623);
}
.job-description .delete{
  text-decoration: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.726);
  margin-left: 2rem;
  padding: .5rem 1rem;
}
.job-description a{
  border-radius: 10px;
}
.job-description a:hover{
  background-color: gray;
}
.job-description .delete:hover{
  background-color: red;
}

/* RACHID:ADD STYLE TO CUSTOMER JOB DETAIL TEMPLAGE */
.contact-me a{
  text-decoration: none;
  padding: .5rem 1.5rem;
  background-color: rgba(0, 128, 0, 0.774);
  margin: 0 2.5rem;
  color: white;
  border-radius: 1.5rem;
}
.contact-me a:hover{
 background-color: green;
}
.contact-me button{
  background-color: orange;
  border: none;
  padding: .4rem 1.5rem;
  border-radius: 1.5rem;
  color: white;
}
.contact-me button:hover{
  background-color: #c59b08;
  border: none;
}
/* ==================================== */
/* RACHID:STYLING THE SPAM DIV AND BUTTONS */
.job-image-guest{
  background-color: rgba(128, 128, 128, 0.479);
  position: relative;
}
.job-image-guest img{
  width: 100%;
}

.spam-button a{
  padding: .5rem 1rem;
  color: black;
 border-radius: 20px;
 position: absolute;
 top: .5rem;
 right: 2rem;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.close {
  cursor: pointer;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

#reportButton {
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

#reportButton:hover {
  background-color: #c82333;
}

#confirmButton {
  margin-left: 10px;
}
#confirmButton a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 800px) {
  .modal-content {
    width: 70%;
  }
}
@media (max-width: 580px) {
  .modal-content {
    width: 80%;
  }

}
/* ============================================ */
/* RACHID:ADD STYLE TO DOER PROFILE SEARCHED BY ADMIN */
/* SEARCH FORM */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.doer-email label {
  display: block;
  margin-bottom: 10px;
}

.doer-email input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* DOER PROFILE CARD */
#card-deck{
  width: 100vw;
  height: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
}
#card-deck .category{
  height: 80%;
}

#card-deck .cat_info{
  width: 100%;
  height: 80%;
}
#card-deck .category .job-image{
  height: 80%;
  display: flex;
  align-items: center;
  /* background-color: orange; */
}

#card-deck .category .job-image img{
  height: 5rem;
  height: 10rem;
}

#card-deck .cat_info{
  width: 100%;
  height: 80%;
  /* background-color: rgba(0, 0, 255, 0.281); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#card-deck .cat_info .contact-me{
  position: absolute;
  bottom: 1rem;
}

#card-deck .category .job-informations{
  width: 40rem;
  line-height: 2rem;
}
#card-deck .category  .job-title{
  text-align: center;
}

#card-deck .category  .job-info-text{
  font-size: 1rem;
}


/* ===================================================== */